body {
  margin: 0;
  line-height: 1.5;
  font-family: 'ManulifeJHSans', 'Open Sans', 'Arial', 'Helvetica', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'source-code-pro', 'Menlo', 'Monaco', 'Consolas', 'Courier New',
    monospace;
  font-weight: bold;
}
